*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Quicksand', sans-serif;
}

/* navbar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 2em 8em;
    background-color: #16213E;
}

nav .logo{
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: #00ffca;
    animation: navbar .8s ease forwards;
}

.nav-list{
    display: flex;
    list-style-type: none;
    animation: navbar .8s ease forwards;
}

.nav-list li a{
    padding: 0 20px 10px 20px;
    color: #00ffca;
    text-decoration: none;
}

.nav-list li a:hover{
    border-bottom: 2px solid #00ffca;
    transition: .5s;
}

.check-button{
    color: #ffffff;
    font-size: 1.3em;
    border-radius: 5px;
    background-color: #00ffca;
    padding: 5px;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 5%;
}

#check{
    display: none;
}

/* main */
main{
    width: 100%;
    background-color: #0F3460;
    padding-top: 5em; 
}

/* hero */
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8em 5em 8em;
    margin-bottom: 5em;
}

.hero-left{
    max-width: 600px;
    margin-right: 1em;
}

.title-hero-name{
    font-size: 42px;
    color: #00ffca;
    font-weight: bold;
}

.title-hero{
    font-size: 30px;
    color: #ffffff;
    animation: heroLeft 1s ease forwards;
}

.subtitle-hero{
    font-size: 26px;
    color: #ffffff;
    animation: heroLeft 1.1s ease forwards;
}

.description{
    font-size: 16px;
    color: #ffffff;
    margin: 1em 0 1.5em 0;
    line-height: 25px;
    animation: heroLeft 1.2s ease forwards;
}

.button{
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 10px;
    color: #16213E;
    background: linear-gradient(35deg, #00ffca, #05bfdb, #00ffca);
    position: relative;
    animation: heroLeft 1.3s ease forwards;
}

.button::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(35deg, #00ffca, #05bfdb, #00ffca);
    z-index: -1;
    border-radius: 10px;
}

.button:hover{
    color: #ffffff;
}

.hero-right{
    max-width: 600px;
    margin-right: 2em;
}

.hero-right .color-circle{
    width: 410px;
    height: 410px;
    background: linear-gradient(35deg, #00ffca, #05bfdb, #00ffca);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: heroRight 2.5s ease forwards;
}

.hero-image{
    border-radius: 50%;
    width: 390px;
    height: 390px;
}

/* animation */
@keyframes navbar{
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes heroLeft{
    0%{
        opacity: 0;
        transform: translatex(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY();
    }
}

@keyframes heroRight{
    0%{
        opacity: 0;
        transform: scale(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY();
    }
}

/* media query */
@media (max-width: 768px){
    .check-button{
        display: inline-flex;
    }

    .check-button #close-icon{
        display: none;
    }

    #check:checked ~ .check-button #menu-icon{
        display: none;
    }

    #check:checked ~ .check-button #close-icon{
        display: block;
    }
    
    #check:checked ~ .nav-list{
        height: 24em;
    }

    #check:checked ~ .nav-list {
        height: 24em;
    }
    
    nav{
        padding: 2em; 
    }

    .nav-list{
        padding: 0.5em 3.8em;
        position: absolute;
        top: 12%;
        left: 0;
        height: 0;
        width: 100%;
        background-color: #0F3460;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        transition: .5s ease;
        z-index: 99;
    }

    .nav-list li a{
        display: block;
        margin: 0.8em 0;
        text-align: center;
        padding-top: 1em;
        transition: .5s ease;
    }

    .nav-list li a:hover{
        border-bottom: 2px solid #00ffca;
        transition: .5s;
    }
    
}