*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Quicksand', sans-serif;
}

/* navbar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 2em 8em;
    background-color: #16213E;
}

nav .logo{
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: #00ffca;
    animation: navbar .8s ease forwards;
}

.nav-list{
    display: flex;
    list-style-type: none;
    animation: navbar .8s ease forwards;
}

.nav-list li a{
    padding: 0 20px 10px 20px;
    color: #00ffca;
    text-decoration: none;
}

.nav-list li a:hover{
    border-bottom: 2px solid #00ffca;
    transition: .5s;
}

.check-button{
    color: #ffffff;
    font-size: 1.3em;
    border-radius: 5px;
    background-color: #00ffca;
    padding: 5px;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 5%;
}

#check{
    display: none;
}

/* main */
main{
    width: 100%;
    background-color: #0F3460;
    padding-top: 5em; 
}

/* hero */
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8em 5em 8em;
}

.hero-left{
    max-width: 600px;
    margin-right: 25px;
}

.title-hero-name{
    font-size: 42px;
    color: #00ffca;
    font-weight: bold;
}

.title-hero{
    font-size: 30px;
    color: #ffffff;
    animation: heroLeft 1s ease forwards;
}

.subtitle-hero{
    font-size: 26px;
    color: #ffffff;
    animation: heroLeft 1.1s ease forwards;
}

.description-hero{
    font-size: 16px;
    color: #ffffff;
    margin: 1em 0 1.5em 0;
    line-height: 25px;
    animation: heroLeft 1.2s ease forwards;
}

.button{
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 10px;
    color: #16213E;
    background: linear-gradient(35deg, #00ffca, #05bfdb, #00ffca);
    position: relative;
    animation: heroLeft 1.3s ease forwards;
    cursor: pointer;
}

.button::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(35deg, #00ffca, #05bfdb, #00ffca);
    z-index: -1;
    border-radius: 10px;
}

.button:hover{
    color: #ffffff;
    top: -5px;
}

.hero-right{
    max-width: 600px;
}

.hero-right .color-circle{
    width: 400px;
    height: 400px;
    background: linear-gradient(35deg, #00ffca, #05bfdb, #00ffca);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 20px 0 #05bfdb;
    animation: bounce 2.3s alternate infinite;
}

.hero-image{
    border-radius: 50%;
    width: 380px;
    height: 380px;
}

/* about */
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8em 5em 8em;
}

.about-left{
    max-width: 600px;
    margin-right: 25px;
}

.about-left .color-circle{
    width: 400px;
    height: 400px;
    background: linear-gradient(35deg, #00ffca, #05bfdb, #00ffca);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 20px 0 #05bfdb;
    animation: bounce 2.3s alternate infinite;
}

.about-image{
    border-radius: 50%;
    width: 380px;
    height: 380px;
}


.about-right{
    max-width: 600px;
}

.title-about{
    font-size: 42px;
    color: #00ffca;
    animation: aboutRight 1s ease forwards;
    margin-bottom: 0.5em;
}

.description-about{
    font-size: 16px;
    color: #ffffff;
    margin: 1em 0 1.5em 0;
    line-height: 25px;
    animation: aboutRight 1.2s ease forwards;
}

/* skills */
.skills{
    padding: 0 8em 5em 8em;
    text-align: center;
}

.skills-title{
    color: #00ffca;
    font-size: 42px;
    text-align: center;
    margin-bottom: 0.5em;
}

.skills-description{
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    margin-bottom: 40px;
}

.boxs{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.boxs .box{
    width: 30%;
    padding: 35px 20px;
    border: 2px solid #00ffca;
    border-radius: 10px;
    box-shadow: 0px 5px 20px 0 #05bfdb;
    margin: 0 15px 25px 0;
    position: relative;
    top: 0;
}

.boxs .box:hover{
    top: -10px;
}

.title-box{
    color: #00ffca;
    padding-bottom: 15px;
}

.description-box{
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 15px;
}

/* portofolio */
.portofolio-title{
    color: #00ffca;
    font-size: 42px;
    text-align: center;
    margin-bottom: 0.5em;
}

.portofolio-description{
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    margin-bottom: 40px;
}

/* portofolio */
.portofolio{
    padding: 0 8em 5em 8em;
    text-align: center;
}

.porto-boxs{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.porto-boxs .porto-box{
    width: 46%;
    border: 2px solid #00ffca;
    border-radius: 10px;
    box-shadow: 0px 5px 20px 0 #05bfdb;
    margin: 0 15px 25px 0;
    position: relative;
    top: 0;
}

.portofolio .porto-boxs .porto-box{
    position: relative;
    overflow: hidden;
}

.portofolio .porto-boxs .porto-box img{
    width: 100%;
    height: 100%;
}

.portofolio .porto-boxs .porto-box:hover img{
    transform: scale(1.4);
    rotate: -2deg;
    transition: 0.5s ease-out;
}

.portofolio .porto-boxs .porto-box .box-hover{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #0000004D;
    z-index: 3;
    transition: 0.5s;
    opacity: 0;
}

.portofolio .porto-boxs .porto-box:hover .box-hover{
    opacity: 1;
}

.portofolio .porto-boxs .porto-box .box-hover span{
    color: #ffffff;
    font-size: 26px;
    font-weight: bold;
}

/* contact */
.title-contact{
    text-align: center;
    font-size: 42px;
    color: #00ffca;
    margin-bottom: 0.5em;
}

.description-contact{
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    margin-bottom: 40px;
}

.contact form{
    width: 60%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-between;
}

.contact form input{
    width: 48%;
    outline: none;
    font-size: 16px;
    padding: 15px 10px;
    border: 2px solid #00ffca;
    border-radius: 10px;
    margin-bottom: 15px;
}

.contact form textarea{
    border: 2px solid #00ffca;
    border-radius: 10px;
    outline: none;
    width: 100%;
    padding: 10px;
}

.contact form textarea:focus, .contact form input:focus{
    border-color: #00ffca;
    box-shadow: 0px 3px 15px 0 #05bfdb;
}

.contact form button{
    margin: 40px auto 40px;
}

/* footer */
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    color: #00ffca;
    background-color: #16213E;
    font-weight: bold;
}

/* animation */
@keyframes navbar{
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes heroLeft{
    0%{
        opacity: 0;
        transform: translatex(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes heroRight{
    0%{
        opacity: 0;
        transform: scale(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes bounce {
    0%{
        transform: translateY(0); 
    }
    50% {
        transform: translateY(-20px);
    }
}

@keyframes aboutRight{
    0%{
        opacity: 0;
        transform: translatex(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

/* media query */
@media screen and (max-width: 1024px) {
    /* skills */
    .skills{
        padding: 0 10px 50px 10px;
    }

    .boxs .box{
        width: 40%;
    }

    .portofolio{
        padding: 0 25px 50px 25px;
    }

    .porto-boxs .porto-boxs{
        width: 46%;
    }

    .contact form{
        width: 60%;
    }
}


@media screen and (max-width: 992px){
     /* hero */
     .hero{
        display: flex;
        flex-direction: column;
        padding: 0 2em 5em 2em;
    }

    .hero-left{
        margin-bottom: 3em;
        text-align: center;
    }

    .hero-right .color-circle{
        width: 330px;
        height: 330px;
    }
    
    .hero-image{
        border-radius: 50%;
        width: 310px;
        height: 310px;
    }

    /* about */
    .about{
        display: flex;
        flex-direction: column;
        padding: 0 2em 2em 2em;
    }

    .about-right{
        margin-bottom: 3em;
        text-align: center;
    }

    .about-left{
        margin-bottom: 1em;
    }

    .about-left .color-circle{
        width: 330px;
        height: 330px;
    }
    
    .about-image{
        border-radius: 50%;
        width: 310px;
        height: 310px;
    }

    .portofolio{
        padding: 0 5em 0 5em;
    }

    .porto-boxs{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .porto-boxs .porto-box{
        width: 100%;
    }

    .contact form{
        width: 70%;
    }
}


@media screen and (max-width: 768px){
    .check-button{
        display: inline-flex;
    }

    .check-button #close-icon{
        display: none;
    }

    #check:checked ~ .check-button #menu-icon{
        display: none;
    }

    #check:checked ~ .check-button #close-icon{
        display: block;
    }
    
    #check:checked ~ .nav-list{
        height: 24em;
    }

    #check:checked ~ .nav-list {
        height: 24em;
    }
    
    nav{
        padding: 2em; 
    }

    .nav-list{
        padding: 0.5em 3.8em;
        position: absolute;
        top: 15%;
        left: 0;
        height: 0;
        width: 100%;
        background-color: #0F3460;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        transition: .5s ease;
        z-index: 99;
    }

    .nav-list li a{
        display: block;
        margin: 0.8em 0;
        text-align: center;
        padding-top: 1em;
        transition: .5s ease;
    }

    .nav-list li a:hover{
        border-bottom: 2px solid #00ffca;
        transition: .5s;
    }

    /* hero */
    .hero{
        display: flex;
        flex-direction: column;
        padding: 0 2em 5em 2em;
    }

    .hero-left{
        margin-bottom: 3em;
        text-align: center;
    }

    .hero-right .color-circle{
        width: 330px;
        height: 330px;
    }
    
    .hero-image{
        border-radius: 50%;
        width: 310px;
        height: 310px;
    }

    /* about */
    .about{
        display: flex;
        flex-direction: column;
        padding: 0 2em 2em 2em;
    }

    .about-right{
        text-align: center;
    }

    .about-left{
        margin: 1em 1em;
    }

    .about-left .color-circle{
        width: 330px;
        height: 330px;
    }
    
    .about-image{
        border-radius: 50%;
        width: 310px;
        height: 310px;
    }
    
    /* skills */
    .skills{
        padding: 0 10px 50px 10px;
    }

    .boxs .box{
        width: 40%;
    }

    /* portofolio */
    .portofolio{
        padding: 0 5em 0 5em;
    }

    .porto-boxs{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .porto-boxs .porto-box{
        width: 100%;
    }

    .contact form{
        width: 70%;
    }
}

@media screen and (max-width: 690px) {
    .boxs .box{
        width: 100%;
    }

    .portofolio{
        padding: 0 10px 50px 10px;
    }

    .porto-boxs .porto-box{
        width: 100%;
    }

    .contact form{
        width: 70%;
    }
}


@media screen and (max-width: 425px){
    .boxs{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .boxs .box{
        width: 100%;
    }

    .porto-boxs .porto-box{
        width: 100%;
    }

    .contact form{
        width: 90%;
        justify-content: center;
    }

    .contact form input{
        width: 100%;
    }
}


@media screen and (max-width: 320px) {
    /* nav */
    nav .check-button{
        margin-right: 0.5em;
    }

    /* hero */
    .hero{
        display: flex;
        flex-direction: column;
    }

    .hero-left{
        margin-bottom: 3em;
        text-align: center;
    }

    .hero-right .color-circle{
        width: 280px;
        height: 280px;
        background: linear-gradient(35deg, #00ffca, #05bfdb, #00ffca);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: bounce 2.3s alternate infinite;
    }
    
    .hero-image{
        border-radius: 50%;
        width: 260px;
        height: 260px;
    }

    /* about */
    .about{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-left{
        margin: 1em 1em;
    }

    .about-right{
        text-align: center;
        margin-bottom: 1em;
    }

    .about-left .color-circle{
        width: 280px;
        height: 280px;
        background: linear-gradient(35deg, #00ffca, #05bfdb, #00ffca);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: bounce 2.3s alternate infinite;
    }
    
    .about-image{
        border-radius: 50%;
        width: 260px;
        height: 260px;
    }

    .boxs{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .boxs .box{
        width: 100%;
    }
    
    .porto-boxs{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .porto-boxs .porto-box{
        width: 100%;
    }

    
    .contact form{
        width: 90%;
        justify-content: center;
    }

    .contact form input{
        width: 100%;
    }
}